@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 227, 213, 202;
  --background-end-rgb: 229, 205, 187;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the entire viewport height is utilized */
  margin: 0; /* Remove default body margin */
}

header {
  flex-shrink: 0; /* Prevent the header from shrinking */
}

main {
  flex: 1; /* Make the main section take up the available space */
  display: flex;
  flex-direction: column; /* Optional: Organize child elements vertically */
  margin-top: 2rem;;
}